<div style="text-align: left;color: #000;font-family: roboto,arial,sans-serif;font-size: 15px; font-weight: bold;border-bottom: 4px solid #FAFAFA;">
<table>
<tr>
<td><img src="{{ logo }}" alt="" style="height: 50px;border-radius: 50%;width: 50px;"/></td>
<td style="padding-top: 10%;"><h3>Invoice!</h3></td>
</tr>
</table>

</div>
<br/><br/>


Hello <strong>{{ user }}</strong>, your payment on Beneen Trip's Store has been successfully done, here you can find as file attached your PDF invoice.
 
<br/><br/>

Thank you, cordially, the Beneen Trip team.
