<h3>Problem report!</h3>

Hello,<br/> 

The user '{{ user }}' reported a problem <br/><br/>

{{ message }}

<br/><br/>
You can contact him via : <br/>

<ul>
<li>Phone number: {{ phone }}</li>
<li>Email: {{ email }}</li>
</ul>
