<h3>Password Reset!</h3>

Hello, the password of your Beneen Trip account has been reset, your new password is: <br/><br/> 

<strong> {{ password }} </strong>

<br/><br/>
<u>Notice:</u> You have the possibility to change it once you are connected. <br/><br/>

Thank you, cordially, the Beneen Trip team.
