<div style="text-align: left;color: #000;font-family: roboto,arial,sans-serif;font-size: 15px; font-weight: bold;border-bottom: 4px solid #FAFAFA;">
<table>
<tr>
<td><img src="{{ logo }}" alt="" style="height: 50px;border-radius: 50%;width: 50px;"/></td>
<td style="padding-top: 10%;"><h3>Password Reset!</h3></td>
</tr>
</table>

</div>
<br/><br/>


Hello, the password's code of your Beneen Trip account has been set, your code is: <br/><br/>
<strong>{{ password }}</strong>
<br/><br/>

Thank you, cordially, the Beneen Trip team.
